@font-face {
  font-family: "Giants-Inline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
